@import url("./reset.css");

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --bg-button: #8dda91;
  --bg-list: #d6d6d6;
}

.wrapper {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.addTask {
  margin-bottom: 50px;
  background: var(--bg-button);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.addTask:hover {
  outline: 1px solid green;
}

.tasksBoxes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.tasksBoxes div {
  position: relative;
  text-align: left;
  background: var(--bg-list);
  padding: 20px 5px 5px 5px;
  flex-basis: 200px;
  flex-grow: 1;
  min-height: 500px;
  border-radius: 5px;
}

.tasksBoxes h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.listOfTasks {
  position: absolute;
  background: white;
  width: calc(100% - 10px);
  height: calc(100% - 25px);
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listOfTasks li {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--bg-list);
  margin-bottom: 10px;
}

.task_title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.task_text,
.task_deadline {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.task_deadline {
  color: grey;
}

.wrapper_modal {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.wrapper_modal_active {
  display: block;
}

.modal {
  position: relative;
  top: 50%;
  width: 500px;
  padding: 15px;
  background: white;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: right;
}
.modal__form legend {
  font-weight: bold;
  margin-bottom: 20px;
}
.modal p,
.modal label {
  margin-bottom: 20px;
}
.modal__form {
  text-align: left;
}

.modal__form input,
.modal__form textarea {
  border: 1px solid var(--bg-list);
  width: 100%;
  max-width: calc(500px - 30px);
  padding: 5px;
  margin-top: 5px;
}
.modal .addTask {
  margin: 0;
}

#modal__close {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("./icon.png") center / contain no-repeat;
  cursor: pointer;
}
