@import url(./reset.css);

:root {
  --blue-1: #3c429e;
  --blue-2: #4c52ad;
  --yellow: #fac742;
  --white: #fff;
  --gray: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.1);
}
body {
  background: var(--blue-1);
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 400px;
  height: 600px;
  text-align: center;
}
.box-input {
  display: inline-block;
  background: var(--blue-2);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}
#input::placeholder {
  text-align: center;
}
.box-info {
  background: var(--blue-2);
  box-shadow: 10px 10px 10px var(--shadow-dark);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-info__image-box,
.box-info__details {
  height: 50%;
}
.box-info__image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(85%);
}

.box-info__image-box.hot {
  background-image: url(../img/hot.jpg) !important;
}

.box-info__image-box.cold {
  background-image: url(../img/cold.jpg) !important;
}

.image-box__city {
  font-size: 1.5rem;
}
.image-box__temp {
  font-size: 4rem;
  font-weight: bold;
}
.box-info__details {
  text-align: left;
  padding: 15px;
}
.box-info__details small {
  display: block;
  margin-bottom: 10px;
}
.details {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: calc(100% - 30px);
  text-align: center;
}
.details__item {
  position: relative;
  text-align: left;
  padding-left: 80px;
}

.details__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.details__item::after {
  position: absolute;
  left: 25px;
  bottom: 30px;
  font-size: 10px;
}

.min::before {
  background-image: url(../img/min.png);
}
.min::after {
  content: "min";
}
.max::before {
  background-image: url(../img/max.png);
}
.max::after {
  content: "max";
}
.humidity::before {
  background-image: url(../img/humidity.png);
}
.humidity::after {
  content: "humidity";
  left: 15px;
}
.wind::before {
  background-image: url(../img/wind.png);
}
.wind::after {
  content: "wind";
}
